@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto mono';
}

/* * {
    font-family: 'PT Mono', monospace;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #a2a505, #fabd2f);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.marquee-container {
  width: 100%; /* или заданная ширина контейнера */
  overflow: hidden; /* Скрыть все, что выходит за пределы контейнера */
  display: flex; /* Используем flexbox для размещения элементов в одну линию */
}

.marquee {
  display: flex; /* Размещаем элементы по горизонтали */
  animation: scroll 15s linear infinite;
  white-space: nowrap; /* Текст не будет переноситься */
}

.marquee span {
  padding-right: 1cm; /* Добавляем отступ в 1 см */
}

.marquee2 {
  display: flex; /* Размещаем элементы по горизонтали */
  animation: scroll 20s linear infinite;
  white-space: nowrap; /* Текст не будет переноситься */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

